[submodule "src/gopath/src/github.com/cshazi/docker-hub-ratelimit-exporter"]
	path = src/gopath/src/github.com/cshazi/docker-hub-ratelimit-exporter
	url = https://github.com/cshazi/docker-hub-ratelimit-exporter
	branch = v1.0.0
